
body {
    
background-color:#e8f7fc;
background-image:url(images/header_bg.png);
background-repeat:repeat-x;
margin:0;
    
}

    /* début header */

    #header {
    
/*    padding-top: 45px;*/
    position: relative;
    width:900px;
    height:190px;
    margin-left: auto;
    margin-right: auto;

    
    }
    
    #header h1 {
    
    color:#2e6ca9;
    font-family: georgia,serif;
    font-size: 41px;
/*    float:left;*/
/*    padding-left:47px;*/
    margin-top: 0;
    padding-top: 47px;
    
    }
    
    #header ul {
    
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 0;
/*    margin-right: 393px;*/
    padding-top: 80px;
    padding-left: 84px;
    background-image:url(images/bulles_blanches.png);
    background-repeat: no-repeat;
    width: 476px;
    height: 190px;
    
    }
    
    #header ul li {
    
    display:inline;
    padding-right: 20px;
    
    }
    
    #header ul li a {
    
    font-family: georgia,serif;
    font-size: 16px;
    font-weight: bold;
    color:#a84772;
    text-decoration: none;
        
    }

    
    
    /* fin header */
    
    
        /* début content */
    
        #content {
         
/*        width:1000px;*/
        height:401px;
        padding-left:47px;
        padding-right:47px;
        margin-left: auto;
        margin-right: auto;
        width:900px;
        
        }    
    
    
        h2 {
         
        color:#ff9fca;
        font-family: georgia,serif;
        font-size: 32px;
        background-image:url(images/ligneblanche.png);
        background-repeat: repeat-x;
        background-position: 0 26px;
        display: inline;
        }
    
        #content p {
        
        color:#406472;
        font-family: georgia,serif;
        font-size: 15px;
        line-height: 24px;
        
        }
    
        strong {
        
        color:#2e6ca9;
        font-weight: normal;
        
        }
    
    
        /* fin content */
    
    
            /* début footer */
    
            #footer {
    
            background-image:url(images/dune.png);
            background-repeat:repeat-x;
/*            width:1000px;*/
            height:285px;
            color:#a84772;
/*
            margin-left: auto;
            margin-right: auto;
*/
    
            }
    
            #fond {
    
            width:900px;
/*            padding-left: 47px;*/
            margin-left: auto;
            margin-right: auto;
    
            }
    
            #fond blockquote {
    
            float:right;
            background-image:url(images/bulles_roses.png);  
            background-repeat: no-repeat;
            width: 379px;
            height: 141px;
            margin-right: 47px;
            margin-top: 77px;
            margin-bottom: 0;
            padding-top: 67px;
            padding-right: 33px;
            color:#a84772;
            font-family: georgia,serif;
            font-size: 15px;
            line-height: 22px;
            text-align: right;
   
            }
    
            #fond p {
            
            padding-top: 194px;
/*            padding-left: 47px;*/
            padding-bottom: 80px;
            margin: 0;
            font-family: georgia,serif;
            font-size: 11px;
   
            }
   
            #fond p a {
                
            color:#8b3059;
            text-decoration: none;
   
            }

            /* fin footer */
